<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="bodyThumbnails">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <%= image_tag 'searchSpotify.jpg' %>
                    <div class="caption">
                        <h3>Spotify Search</h3>
                        <p>This single page site lets you search artists, see
                        their albums, and preview their tracks though the
                        spotify API. Coded with JavaScript and uses Ajax. (click the pictures for links).</p><br>
                        <p><a class="btn btn-primary" href="/spotifySearch"
                        role="button">See Site</a> <a class="btn btn-default"
                        href=
                        "https://github.com/sebaswn/Ironhack_Projects/tree/master/JavaScript/spotifyAPI"
                        role="button">See Source Code</a></p>
                    </div>
                </div>
            </div>
        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <%= image_tag 'geoLocation.jpg' %>
                <div class="caption">
                    <h3>GeoLocation</h3>
                    <p>This single page site will find your current location or
                    your location as you move around (assuming you remain
                    connected to the internet) by using the Google Static Map
                    API. Coded with JavaScript and uses Ajax.</p>
                    <p><a class="btn btn-primary" href="/geoLocation" role=
                    "button">See Site</a> <a class="btn btn-default" href=
                    "https://github.com/sebaswn/Ironhack_Projects/tree/master/JavaScript/geoLocation"
                    role="button">See Source Code</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <%= image_tag 'whereHaveIBeen.jpg' %>
                <div class="caption">
                    <h3>Where Have I Been</h3>
                    <p>This single page site will let you search the world for a location (and will even autocomplete your search bar) and place a marker there. Uses Google's Dynamic Map API. Coded with JavaScript and uses Ajax. <b class="red"> Under Maintenance</b> </p>
                    <p><a class="btn btn-primary" href="/whereHaveIBeen" role=
                    "button">See Site</a> <a class="btn btn-default" href=
                    "https://github.com/sebaswn/Ironhack_Projects/tree/master/JavaScript/error"
                    role="button">See Source Code</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <%= image_tag 'pokedex.jpg' %>
                <div class="caption">
                    <h3>Pokedex</h3>
                    <p>Choose your favorite Pokemon to see their stats, descriptions, and evolutions on this one page website that never needs to reaload. Uses Pokemon API. Coded with JavaScript and Ruby and uses Ajax.</p>
                    <p><a class="btn btn-primary" href="/pokedex" role=
                    "button">See Site</a> <a class="btn btn-default" href=
                    "https://github.com/sebaswn/Ironhack_Projects/tree/master/JavaScript/pokedex"
                    role="button">See Source Code</a></p>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>