<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spotify</title>
    <link href="/../assets/stylesheets/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
     
  </head>
  <body>
    <div class="jumbotron headerBody">
      <form>
        <h1>Search Artist In Spotify</h1>
        <br>
        <br>
        <div class="col-sm-2 searching">
        </div>
        <div class="col-sm-8 searching">
          <input class="form-control search" type="text" id="formGroupInputLarge" placeholder="Artist">
        </div>
        <br>
        <br>
        <button type="button" class="btn btn-primary js-search" type="submit">Search Spotify</button>
      
      </form>
      <br>
    </div>
    <div class="jumbotron artistList">
      <div class="row">
        <div class="col-md-4">
          <h2>Artists</h2>
          <div class="media artistMedia">
          </div>
        </div>
        <div class="col-md-4">
          <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Albums</h2>
          <div class="media albumMedia">
          </div>
        </div>
        <div class="col-md-3 right">
            <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tracks</h2>

          <ul class="trackMedia">
          </ul>
        </div>

      </div>
    </div>
      


     <script type="text/javascript">
          
              function searchArtists(event) {
            event.preventDefault();
            var search = $('.search').val();
            search = search.replace(/\s/g, "%20");
            var request = $.get("https://api.spotify.com/v1/search?type=artist&query=" + search);
            $('.media').empty();
            $('.trackMedia').empty();
            function handleArtists(artist) {

                    for(i = 0, len = artist.artists.items.length; i < len; i++){
                      var html = ['<div class="media-left">',
                                  '<a href="#" class="linkToAlbum"  dataArtistID="' + artist.artists.items[i].id + '">',
                                  '<img class="media-object" src="' + artist.artists.items[i].images[artist.artists.items[i].images.length - 1].url + '"  alt="..." style="width:65px;height:65px;">',
                                  '</a>',
                                  '</div>',
                                  '<div class="media-body">',
                                  '<h4 class="media-heading">'+ artist.artists.items[i].name + '</h4>' + '<b>' + "Popularity: " + '</b>' + artist.artists.items[i].popularity + '<b>', '<br>', "Followers: " + '</b>' + artist.artists.items[i].followers.total +
                                  '</div>',
                                  '</div>',
                                  '<br>'
                        ].join('\n');

                        $('.artistMedia').append(html);
                    }
           
            }
            request.done(handleArtists);
        }

        function searchAlbums(event){
          event.preventDefault();
          var artistID = $(this).attr('dataArtistID')

          var request = $.get('https://api.spotify.com/v1/artists/' + artistID +'/albums' );
          $('.albumMedia').empty();
          $('.trackMedia').empty();

          function handleAlbums(albums){
            for(i = 0, len = albums.items.length; i < len; i++){
                        var html = ['<div class="media-left">',
                                    '<a href="#" class="linkToTrack" dataAlbumID="' + albums.items[i].id + '">',
                                    '<img class="media-object" src="' + albums.items[i].images[albums.items[i].images.length - 1].url + '"  alt="..." style="width:65px;height:65px;">',
                                    '</a>',
                                    '</div>',
                                    '<div class="media-body">',
                                    '<h4 class="media-heading">'+ albums.items[i].name + '</h4>' + '<b>' + "Type: " + '</b>' + albums.items[i].type +
                                    '</div>',
                                    '</div>',
                                    '<br>'
                          ].join('\n');

                          $('.albumMedia').append(html);
                      }   
          }
          request.done(handleAlbums);
        }






        function searchTracks(event){
          event.preventDefault();
          var albumID = $(this).attr('dataAlbumID')

          var request = $.get('https://api.spotify.com/v1/albums/' + albumID +'/tracks' );
          $('.trackMedia').empty();

          function handleTracks(tracks){
            for(i = 0, len = tracks.items.length; i < len; i++){
                        var html = [
                              '<li>',
                              '<a class="linkToSong" href="#" dataSongURL="'+ tracks.items[i].preview_url +'">',
                              '<h4>' + tracks.items[i].name + '</h4>',
                              '</a>',
                              '<dl>',
                              '<b>',
                              "Track #:",
                              '</b>',
                               + tracks.items[i].track_number +
                              '</li>'
                          ].join('\n');

                          $('.trackMedia').append(html);
                      }   

          }
          request.done(handleTracks);
        }


        function OpenInNewTab(event) {
          event.preventDefault();
          var url = $(this).attr('dataSongURL')
          var win = window.open(url, '_blank');
          win.focus();

        }

        function OpenInNewWindow(event){
          event.preventDefault();
          var strWindowFeatures = "location=yes,height=100,width=400,scrollbars=no,status=yes";
          var url = $(this).attr('dataSongURL')
          var win = window.open(url, "_blank", strWindowFeatures);
        }


        $(document.body).on('click','.js-search', searchArtists);
        $(document.body).on('click','.linkToAlbum', searchAlbums);
        $(document.body).on('click','.linkToTrack', searchTracks);
        $(document.body).on('click','.linkToSong', OpenInNewWindow);

     </script> 


     <style>
          .headerBody{
            text-align: center;

          }
          body{
            background-color: #2EBD59;
          }
          .artistList{
            padding-left: 100px;
            height: 100%;
          }

          .jumbotron {
              padding-top: 30px;
              padding-bottom: 30px;
              margin-bottom: 30px;
              color: inherit;
              background-color: rgba(238,238,238,0.8);
          }

          .searching{
            
          }

          .search{
            text-align: center;
          }

          .trackMedia{
            
          }

     </style>




    <script src="/../assets/javascripts/spotify.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>